.container{
    background-color: #900;
}
body{
    background-color: #8B3A3A;
    text-align: center; 
}
a:hover{
    color: silver;
}
a:active{
    color: tomato;
}
::selection{
    background-color: lightpink;
    color: white;
}
::-moz-selection {
    background-color: lightpink;
    color: white;
}
