.container{
    background-color: #900;
    border-bottom: #000;
    border-color: white;
}
body{
    background-image: url(../img/bg7.jpg);
    text-align: center; 
}
a:hover{
    color: silver;
}
a:active{
    color: tomato;
}
::selection{
    background-color: lightpink;
    color: white;
}
::-moz-selection {
	background-color: lightpink;
	color: white;
}
